@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background-color: black;
    color: #00ff00;
    font-family: 'VT323', monospace;
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.terminal {
    width: 80%;
    max-width: 600px;
    background-color: #111;
    border: 2px solid #00ff00;
    padding: 20px;
    box-shadow: 0 0 15px #00ff00;
}

.header {
    font-size: 20px;
    color: #0f0;
}


.blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

.content p, .content ul {
    margin: 5px;
}

.highlight {
    color: #ffcc00;
}

a {
    color: #ffcc00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}